<h1>PokeSite</h1>
<h2>Search & save your favorite teams and movesets</h2>

{{#unless user}}
    <a href="/login">Login</a>
    <br>
    <a href="/register">Register</a>
{{/unless}}
{{#if user}}
    <p>Welcome, {{user.username}}</p>
    <a href="/logout">Logout</a>
{{/if}}

{{> navigation}}
<br>

<div class="pokesearch">
    <P>Pokemon Search</P>

    <form action="/searchPokemon" method="GET">
        <label>Enter name: </label>
        <input id="pokemon_name" type="text" name="pokemon_name">
        <input type="submit" value="Search">
    </form>
</div>

<div class="pokeresults">
    {{#if pokemon}}
        <h3>Result: <img src="{{ sprite }}" align="middle"> {{ pokemon }}, pokedex #{{ pokemon_id }}</h3>
        <form action="/savePokemon" method="GET">
            <input id="pokemon_name" type="hidden" name="pokemon_name" value={{ pokemon }}>
            <input type="submit" value="Save this pokemon to a team">
        </form>
        <form action="/pokemon" method="GET">
            <input id="pokemon" name="pokemon" type="hidden" value={{ pokemon }}>
            <input type="submit" value="View stats">
        </form>
    {{else}}
        <h3>Sorry, no results.</h3>
    {{/if}}
</div>

<div class="movesearch">
    <P>Move Search</P>

    <form action="/searchMoves" method="GET">
        <label>Enter move: </label>
        <input id="move_name" type="text" name="move_name">
        <input type="submit" value="Search">
    </form>
</div>

<div class="moveresults">
    {{#if move}}
        <h3>Result: {{ move }}, type: {{ type }}</h3>
        <form action="/saveMove" method="GET">
            <input id="move_name" type="hidden" name="move_name" value="{{ move }}">
            <input type="submit" value="Save this move to a moveset">
        </form>
        <form action="/move" method="GET">
            <input id="move" name="move" type="hidden" value={{ move }}>
            <input type="submit" value="View stats">
        </form>
    {{else}}
        <h3>Sorry, no results.</h3>
    {{/if}}
</div>