<div class="center capitalize">
    <h1>{{name}}</h1>
    <p>Pokedex #{{id}}</p>
</div>

{{> navigation}}

<br>

<div class="tab">

    <p>Regular: <img align="middle" src={{sprite}}></p>
    <p>Shiny: <img align="middle" src={{shiny_sprite}}></p>

    <p>Height: {{height}}</p>
    <p>Weight: {{weight}}</p>

    <h4>Type(s):</h4>
        {{#each types}}
            <ul>
                <li>{{this.type.name}}</li>
            </ul>
        {{/each}}

    <h4>Stats:</h4>

        <table border="1" cellpadding="5">

            <tr>
                <th></th>  <!-- Empty upper-left corner for 2-way grid -->
                {{#each stats}}
                    <th>{{this.stat.name}}</th>
                {{/each}}
            </tr>

            <tr>
                <th>EV</th>
                {{#each stats}}
                    <td>
                        {{this.effort}}
                    </td>
                {{/each}}
            </tr>

            <tr>
                <th>Base</th>
                {{#each stats}}
                    <td>
                        {{this.base_stat}}
                    </td>
                {{/each}}
            </tr>

        </table>

    <h4>Abilities:</h4>
    {{#each abilities}}
        <ul>
            <li>{{this.ability.name}}</li>
            <ul>
                <li>{{this.effect}}</li>
                <li>Hidden? {{this.is_hidden}}</li>
            </ul>
        </ul>
    {{/each}}

</div>