<h1>Pokemon Teams</h1>
{{> navigation}}

<div class="editTeam">
    <h3>Which pokemon would you like to remove?</h3>
    <ul>
        {{#each pokemon}}
            {{this.title}}
            <li>1. {{this.p1}}</li>
            {{#if this.p1}}
                <form action="/removeFromTeam" method="POST">
                    <input type="hidden" value={{this.p1}}>
                    <input type="submit" value="Remove">
                </form>
            {{/if}}
            <li>2. {{this.p2}}</li>
            {{#if this.p2}}
                <form action="/removeFromTeam" method="POST">
                    <input type="hidden" value={{this.p1}}>
                    <input type="submit" value="Remove">
                </form>
            {{/if}}
            <li>3. {{this.p3}}</li>
            {{#if this.p3}}
                <form action="/removeFromTeam" method="POST">
                    <input type="hidden" value={{this.p1}}>
                    <input type="submit" value="Remove">
                </form>
            {{/if}}
            <li>4. {{this.p4}}</li>
            {{#if this.p4}}
                <form action="/removeFromTeam" method="POST">
                    <input type="hidden" value={{this.p1}}>
                    <input type="submit" value="Remove">
                </form>
            {{/if}}
            <li>5. {{this.p5}}</li>
            {{#if this.p5}}
                <form action="/removeFromTeam" method="POST">
                    <input type="hidden" value={{this.p1}}>
                    <input type="submit" value="Remove">
                </form>
            {{/if}}
            <li>6. {{this.p6}}</li>
            {{#if this.p6}}
                <form action="/removeFromTeam" method="POST">
                    <input type="hidden" value={{this.p1}}>
                    <input type="submit" value="Remove">
                </form>
            {{/if}}
        {{/each}}
    </ul>
</div>