<div class="center">
    <h1>Pokemon Teams</h1>
</div>

{{> navigation}}

<div class="center">
    <h3>Which pokemon would you like to remove?</h3>
    <ol>
        {{pokemon.title}}
        <li>{{pokemon.p1}}</li>
        {{#if pokemon.p1}}
            <form action="/removeFromTeam" method="POST">
                <input type="hidden" id="team" name="team" value={{team}}>
                <input type="hidden" id="pokemon" name="pokemon" value="p1">
                <input type="submit" value="Remove">
            </form>
        {{/if}}
        <li>{{pokemon.p2}}</li>
        {{#if pokemon.p2}}
            <form action="/removeFromTeam" method="POST">
                <input type="hidden" id="team" name="team" value={{team}}>
                <input type="hidden" id="pokemon" name="pokemon" value="p2">
                <input type="submit" value="Remove">
            </form>
        {{/if}}
        <li>{{pokemon.p3}}</li>
        {{#if pokemon.p3}}
            <form action="/removeFromTeam" method="POST">
                <input type="hidden" id="team" name="team" value={{team}}>
                <input type="hidden" id="pokemon" name="pokemon" value="p3">
                <input type="submit" value="Remove">
            </form>
        {{/if}}
        <li>{{pokemon.p4}}</li>
        {{#if pokemon.p4}}
            <form action="/removeFromTeam" method="POST">
                <input type="hidden" id="team" name="team" value={{team}}>
                <input type="hidden" id="pokemon" name="pokemon" value="p4">
                <input type="submit" value="Remove">
            </form>
        {{/if}}
        <li>{{pokemon.p5}}</li>
        {{#if pokemon.p5}}
            <form action="/removeFromTeam" method="POST">
                <input type="hidden" id="team" name="team" value={{team}}>
                <input type="hidden" id="pokemon" name="pokemon" value="p5">
                <input type="submit" value="Remove">
            </form>
        {{/if}}
        <li>{{pokemon.p6}}</li>
        {{#if pokemon.p6}}
            <form action="/removeFromTeam" method="POST">
                <input type="hidden" id="team" name="team" value={{team}}>
                <input type="hidden" id="pokemon" name="pokemon" value="p6">
                <input type="submit" value="Remove">
            </form>
        {{/if}}
    </ol>
</div>