<div class="center">
    <h1>Movesets</h1>
</div>
{{> navigation}}

<div class="center">
    <h3>Which move would you like to remove?</h3>
    <ol>
        {{moveset.title}}
        <li>{{moveset.m1}}</li>
        {{#if moveset.m1}}
            <form action="/removeFromMoveset" method="POST">
                <input type="hidden" id="moveset" name="moveset" value={{moveset._id}}>
                <input type="hidden" id="move" name="move" value="m1">
                <input type="submit" value="Remove">
            </form>
        {{/if}}
        <li>{{moveset.m2}}</li>
        {{#if moveset.m2}}
            <form action="/removeFromMoveset" method="POST">
                <input type="hidden" id="moveset" name="moveset" value={{moveset._id}}>
                <input type="hidden" id="move" name="move" value="m2">
                <input type="submit" value="Remove">
            </form>
        {{/if}}
        <li>{{moveset.m3}}</li>
        {{#if moveset.m3}}
            <form action="/removeFromMoveset" method="POST">
                <input type="hidden" id="moveset" name="moveset" value={{moveset._id}}>
                <input type="hidden" id="move" name="move" value="m3">
                <input type="submit" value="Remove">
            </form>
        {{/if}}
        <li>{{moveset.p4}}</li>
        {{#if moveset.p4}}
            <form action="/removeFromMoveset" method="POST">
                <input type="hidden" id="moveset" name="moveset" value={{moveset._id}}>
                <input type="hidden" id="move" name="move" value="m4">
                <input type="submit" value="Remove">
            </form>
        {{/if}}
    </ol>
</div>