<h1>Pokemon Teams</h1>
{{> navigation}}

<h2>To which team would you like to save this pokemon?</h2>

<!-- Max 6 pokemon to a team -->
<div class="team">
    <ul>
        {{#each pokemon}}
            <p>{{this.title}}:</p>
            <li>1. {{this.p1}}</li>
            <li>2. {{this.p2}}</li>
            <li>3. {{this.p3}}</li>
            <li>4. {{this.p4}}</li>
            <li>5. {{this.p5}}</li>
            <li>6. {{this.p6}}</li>
            <br>
            {{#unless this.p6}} <!-- If there is anything in p6, the team is full-->
            <form action="/savePokemon" method="POST">
                <input type="hidden" value="{{ this._id }}" id="id" name="id">
                <input type="hidden" value="{{ ../name }}" id="name" name="name">
                <input type="submit" value="Save to this team">
            </form>
            {{/unless}}
            <br>
        {{/each}}
    </ul>
</div>