<div class="center">
    <h1>Movesets</h1>
</div>
{{> navigation}}

<h2>To which moveset would you like to save this move?</h2>

<!-- Max 4 moves to a moveset -->
<div class="moves">
    <ul>
        {{#each moves}}
            <p>{{this.title}}</p>
            <li>1. {{this.m1}}</li>
            <li>2. {{this.m2}}</li>
            <li>3. {{this.m3}}</li>
            <li>4. {{this.m4}}</li>
            <br>
            <form action="/saveMove" method="POST">
                <input type="hidden" value="{{ this._id }}" id="id" name="id">
                <input type="hidden" value="{{ ../name }}" id="name" name="name">
                <input type="submit" value="Save to this moveset">
            </form>
            <br>
        {{/each}}
    </ul>
</div>