<h1>Pokemon Teams</h1>
{{> navigation}}

<div class="newteam">
    <form action="/newteam" method="POST">
        <label for="title">Team Name:</label>
        <input type="text" id="title" name="title">
        <input type="submit" value="Create a new team">
    </form>
</div>

<!-- Max 6 pokemon to a team -->
<div class="team">
    <ol>
        {{#each pokemon}}
            <p>{{this.title}}:</p>
            <form action="/removeFromTeam" method="GET">
                <input type="hidden" id="team" name="team" value={{this._id}}>
                <input type="submit" value="Remove a pokemon from this team">
            </form>
            <form action="/deleteTeam" method="GET">
                <input type="hidden" id="team" name="team" value={{this._id}}>
                <input type="submit" value="Delete this team">
            </form>
            <br>
            <li>{{this.p1}}</li>
            <li>{{this.p2}}</li>
            <li>{{this.p3}}</li>
            <li>{{this.p4}}</li>
            <li>{{this.p5}}</li>
            <li>{{this.p6}}</li>
            <br>
        {{/each}}
    </ol>
</div>