<h1>Pokemon Teams</h1>
{{> navigation}}

<div class="newteam">
    <p></p>
    <form action="/newteam" method="POST">
        <label for="title">Team Name:</label>
        <input type="text" id="title" name="title">
        <input type="submit" value="Create a new team">
    </form>
</div>

<!-- Max 6 pokemon to a team -->
<div class="team">
    <ul>
        {{#each pokemon}}
            <p>{{this.title}}:</p>
            <li>1. {{this.p1}}</li>
            <li>2. {{this.p2}}</li>
            <li>3. {{this.p3}}</li>
            <li>4. {{this.p4}}</li>
            <li>5. {{this.p5}}</li>
            <li>6. {{this.p6}}</li>

            <form action="/editTeam" method="GET">

            </form>

            <br>
        {{/each}}
    </ul>
</div>